#pageID_mypage .mute-button {
  display: block;
  font-size: 1.2;
  line-height: 2.8;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}

#pageID_mypage .mute-button.muted {
  background-color: #ddd;
}

#pageID_mypage .mute-button:hover {
  cursor: pointer;
}
