body {
  line-height: 1.6;
}

.box {
  margin: 1em;
}

.username-row {
  display: flex;
}

.username-row .row-checkbox {
  padding: 0.2em;
}

.username-row .row-label {
  padding: 0.2em;
}

input[type="checkbox"] {
}

.usernames {
  max-height: 20em;
  overflow: scroll;
}
